/*@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);
*/

*{
  /*margin: */0;
  /*padding: 0;*/
  font-family: 'Open Sans', sans-serif;

}
body{
  background-color: #bdc3c7;
  margin: auto;
}



.company-name{
color: black;
  float: left;
  background-color: #eee;
  font-family: 'Questrial', sans-serif;
}
.info{
  color: black;
}
.company-name p{
  padding: 3px;

  font-size: 20px;
  background-color: #8FBC8B;
  font-family: 'Questrial', sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-color: #333;*/
}
.little-finger{
  font-size: 10px;
  padding: 0px;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #335345;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.second{
  background-color: #8FBC8B;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
    background-color: #8FBC8B;
    text-decoration:none;
}
/*carousel start*/
.carousel-inner img {
      width: 50%;
      height: 60%;
  }


.carousel-inner {
  position: relative;
    width: 125%;
    /*margin-left: 20%;*/
    text-align: center;
    /*overflow: hidden;*/
    /*margin-right: 50%;*/
}


#title {
  text-align: center;
  padding-top:50px;
  font-size:4em;
  font-family: 'Questrial', sans-serif;
  font-family: 'Nunito', sans-serif;
}


#text{
  color: black;
  font-size:18px;
  line-height: 1.9;
  padding: 0px 50px 25px 50px;
font-family: 'Questrial', sans-serif;
font-family: 'Nunito', sans-serif;

}

footer{
  min-height: 200px;
  background-color: #bdc3c7;
}


.left {
  text-align: center;
  background-color: #8FBC8B;
}
.left h6{

  text-align: center;

}

.right{
  padding:80px;
  text-align: center;
  background-color: #e0ddd3;

}
.social-buttons{
  width: 100%;
  /*background-color: green;*/


}


@media screen and (max-width: 980px) {
.company-name p {
 /*padding: 1px;*/
 font-size: 31px;
  background-color: #eee;
 font-family: 'Questrial', sans-serif;

}
}

ul {
  list-style-type: none;
  margin: 0;
 padding: 0;
 
}

ul {
 margin-top: 0;


}

}



@media screen and (max-width: 768px)
{

  .company-name p {
 padding: 1px;
 font-size: 31px;
  background-color: #eee;
font-family: 'Questrial', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
 padding: 0;
 
}

ul {
 margin-top: 0;


}

}

@media screen and (max-width: 640px) {

.company-name p {
 padding: 1px;
 font-size: 31px;
  background-color: #eee;
font-family: 'Questrial', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
 padding: 0;
 
}

ul {
 margin-top: 0;


}




}
